<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game1_icon_ashcan.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,544},{72,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,86}}</string>
                <key>sourceSize</key>
                <string>{72,86}</string>
            </dict>
            <key>game1_icon_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{299,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,123}}</string>
                <key>sourceSize</key>
                <string>{299,123}</string>
            </dict>
            <key>game1_icon_cake.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1149},{56,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>game1_icon_cake_tray.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,668},{68,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>game1_icon_cook_dg.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1580},{43,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,82}}</string>
                <key>sourceSize</key>
                <string>{43,82}</string>
            </dict>
            <key>game1_icon_cook_dishes.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,720},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>game1_icon_cook_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,362},{98,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,49}}</string>
                <key>sourceSize</key>
                <string>{98,49}</string>
            </dict>
            <key>game1_icon_cookbook.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1500},{94,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,89}}</string>
                <key>sourceSize</key>
                <string>{94,89}</string>
            </dict>
            <key>game1_icon_food_beff01.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1476},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>game1_icon_food_broccoli01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,789},{95,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,64}}</string>
                <key>sourceSize</key>
                <string>{95,64}</string>
            </dict>
            <key>game1_icon_food_chicken01.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,632},{89,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,71}}</string>
                <key>sourceSize</key>
                <string>{89,71}</string>
            </dict>
            <key>game1_icon_food_chili01.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,975},{87,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,64}}</string>
                <key>sourceSize</key>
                <string>{87,64}</string>
            </dict>
            <key>game1_icon_food_dumplings01.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1064},{83,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,64}}</string>
                <key>sourceSize</key>
                <string>{83,64}</string>
            </dict>
            <key>game1_icon_food_egg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,234},{92,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,60}}</string>
                <key>sourceSize</key>
                <string>{92,60}</string>
            </dict>
            <key>game1_icon_food_fish01.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,735},{94,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,65}}</string>
                <key>sourceSize</key>
                <string>{94,65}</string>
            </dict>
            <key>game1_icon_food_mushrooms01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,723},{89,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,66}}</string>
                <key>sourceSize</key>
                <string>{89,66}</string>
            </dict>
            <key>game1_icon_food_noodles01.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1387},{87,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,62}}</string>
                <key>sourceSize</key>
                <string>{87,62}</string>
            </dict>
            <key>game1_icon_food_pork01.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1291},{94,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,62}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>game1_icon_food_shallot01.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,886},{87,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,64}}</string>
                <key>sourceSize</key>
                <string>{87,64}</string>
            </dict>
            <key>game1_icon_food_shrimp01.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,296},{91,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,64}}</string>
                <key>sourceSize</key>
                <string>{91,64}</string>
            </dict>
            <key>game1_icon_noodles_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1021},{119,95}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{119,95}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,914},{119,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{119,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,544},{129,97}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{129,97}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1118},{131,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{131,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1016},{119,95}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{119,95}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,812},{119,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{119,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1225},{127,103}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{127,103}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1259},{125,105}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{125,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1473},{123,105}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{123,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1113},{133,105}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,919},{119,95}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{119,95}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,413},{129,97}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{129,97}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,421},{121,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{121,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1248},{125,105}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{125,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1375},{123,105}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{123,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1330},{123,105}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{123,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,831},{135,105}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{135,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,668},{137,105}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{137,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,807},{119,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{119,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1020.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1045},{133,105}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1021.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1437},{123,103}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{123,103}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1022.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1366},{123,105}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{123,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1023.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,938},{133,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{133,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,386},{141,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{141,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{121,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{121,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1026.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,529},{137,105}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{137,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1027.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1152},{131,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{131,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1028.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,241},{143,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{143,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1029.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,94},{145,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1030.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,675},{135,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{135,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_order_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,421},{77,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,82}}</string>
                <key>sourceSize</key>
                <string>{77,82}</string>
            </dict>
            <key>game1_icon_order_heart_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1497},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>game1_icon_order_heart_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1477},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>game1_icon_order_heart_half.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1457},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>game1_icon_order_heart_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1437},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>game1_icon_orderbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{133,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,122}}</string>
                <key>sourceSize</key>
                <string>{133,122}</string>
            </dict>
            <key>game1_icon_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{90,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,107}}</string>
                <key>sourceSize</key>
                <string>{90,107}</string>
            </dict>
            <key>game1_icon_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,230}}</string>
                <key>sourceSize</key>
                <string>{394,230}</string>
            </dict>
            <key>game1_icon_seat.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,591},{127,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,71}}</string>
                <key>sourceSize</key>
                <string>{127,71}</string>
            </dict>
            <key>game1_icon_track.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1207},{64,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>game1_icon_track_edge01.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1625},{62,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,22}}</string>
                <key>sourceSize</key>
                <string>{62,22}</string>
            </dict>
            <key>game1_icon_track_edge02.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1564},{62,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{62,38}</string>
            </dict>
            <key>game_ui_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,505},{76,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,84}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
            <key>game_ui_menu_Level.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1542},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>game_ui_menu_angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1578},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>game_ui_menu_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1255},{64,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{64,34}}</string>
                <key>sourceSize</key>
                <string>{82,48}</string>
            </dict>
            <key>game_ui_menu_menubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1580},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>game_ui_menu_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,2004},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>game_ui_menu_show.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2004},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>game_ui_menu_showbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1542},{53,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,43}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>game_ui_menu_smile.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1542},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>game_ui_menu_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1576},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>game_ui_menubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{1334,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,51}}</string>
                <key>sourceSize</key>
                <string>{1334,51}</string>
            </dict>
            <key>game_ui_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{60,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,292}}</string>
                <key>sourceSize</key>
                <string>{60,292}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameScene.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5626b619f47abacf1800192f8fed475b$</string>
            <key>textureFileName</key>
            <string>GameScene.png</string>
        </dict>
    </dict>
</plist>
