<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game1_icon_ashcan.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,692},{72,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,86}}</string>
                <key>sourceSize</key>
                <string>{72,86}</string>
            </dict>
            <key>game1_icon_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,541},{299,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,123}}</string>
                <key>sourceSize</key>
                <string>{299,123}</string>
            </dict>
            <key>game1_icon_cake.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1365},{56,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>game1_icon_cake_tray.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,940},{68,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>game1_icon_cook_dg.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1232},{43,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,82}}</string>
                <key>sourceSize</key>
                <string>{43,82}</string>
            </dict>
            <key>game1_icon_cook_dishes.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,871},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>game1_icon_cook_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,490},{98,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,49}}</string>
                <key>sourceSize</key>
                <string>{98,49}</string>
            </dict>
            <key>game1_icon_cookbook.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,908},{94,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,89}}</string>
                <key>sourceSize</key>
                <string>{94,89}</string>
            </dict>
            <key>game1_icon_food_beff01.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1322},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>game1_icon_food_broccoli01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,842},{95,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,64}}</string>
                <key>sourceSize</key>
                <string>{95,64}</string>
            </dict>
            <key>game1_icon_food_chicken01.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,780},{89,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,71}}</string>
                <key>sourceSize</key>
                <string>{89,71}</string>
            </dict>
            <key>game1_icon_food_chili01.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1192},{87,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,64}}</string>
                <key>sourceSize</key>
                <string>{87,64}</string>
            </dict>
            <key>game1_icon_food_dumplings01.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1280},{83,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,64}}</string>
                <key>sourceSize</key>
                <string>{83,64}</string>
            </dict>
            <key>game1_icon_food_egg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1130},{92,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,60}}</string>
                <key>sourceSize</key>
                <string>{92,60}</string>
            </dict>
            <key>game1_icon_food_fish01.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,999},{94,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,65}}</string>
                <key>sourceSize</key>
                <string>{94,65}</string>
            </dict>
            <key>game1_icon_food_mushrooms01.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1007},{89,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,66}}</string>
                <key>sourceSize</key>
                <string>{89,66}</string>
            </dict>
            <key>game1_icon_food_noodles01.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1258},{87,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,62}}</string>
                <key>sourceSize</key>
                <string>{87,62}</string>
            </dict>
            <key>game1_icon_food_pork01.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1066},{94,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,62}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>game1_icon_food_shallot01.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1191},{87,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,64}}</string>
                <key>sourceSize</key>
                <string>{87,64}</string>
            </dict>
            <key>game1_icon_food_shrimp01.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1098},{91,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,64}}</string>
                <key>sourceSize</key>
                <string>{91,64}</string>
            </dict>
            <key>game1_icon_order_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1386},{77,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,82}}</string>
                <key>sourceSize</key>
                <string>{77,82}</string>
            </dict>
            <key>game1_icon_order_heart_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,62},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>game1_icon_order_heart_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,42},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>game1_icon_order_heart_half.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,22},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>game1_icon_order_heart_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>game1_icon_orderbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{133,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,122}}</string>
                <key>sourceSize</key>
                <string>{133,122}</string>
            </dict>
            <key>game1_icon_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,398},{90,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,107}}</string>
                <key>sourceSize</key>
                <string>{90,107}</string>
            </dict>
            <key>game1_icon_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,230}}</string>
                <key>sourceSize</key>
                <string>{394,230}</string>
            </dict>
            <key>game1_icon_seat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{127,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,71}}</string>
                <key>sourceSize</key>
                <string>{127,71}</string>
            </dict>
            <key>game1_icon_track.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1423},{64,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>game1_icon_track_edge01.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,884},{62,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,22}}</string>
                <key>sourceSize</key>
                <string>{62,22}</string>
            </dict>
            <key>game1_icon_track_edge02.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1168},{62,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{62,38}</string>
            </dict>
            <key>game1_icon_yangchunmian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{118,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{118,95}}</string>
                <key>sourceSize</key>
                <string>{118,97}</string>
            </dict>
            <key>game_ui_menu_Level.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1040},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>game_ui_menu_angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1507},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>game_ui_menu_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1102},{64,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{64,34}}</string>
                <key>sourceSize</key>
                <string>{82,48}</string>
            </dict>
            <key>game_ui_menu_menubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1371},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>game_ui_menu_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,999},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>game_ui_menu_show.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,842},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>game_ui_menu_showbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1316},{53,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,43}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>game_ui_menu_smile.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1471},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>game_ui_menu_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1421},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>game_ui_menubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{1334,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,51}}</string>
                <key>sourceSize</key>
                <string>{1334,51}</string>
            </dict>
            <key>game_ui_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1465},{60,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,292}}</string>
                <key>sourceSize</key>
                <string>{60,292}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameScene.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8268739c7c760544296e80de92069105$</string>
            <key>textureFileName</key>
            <string>GameScene.png</string>
        </dict>
    </dict>
</plist>
