<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game1_icon_ashcan.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1154},{72,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,86}}</string>
                <key>sourceSize</key>
                <string>{72,86}</string>
            </dict>
            <key>game1_icon_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,712},{299,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,123}}</string>
                <key>sourceSize</key>
                <string>{299,123}</string>
            </dict>
            <key>game1_icon_cake.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1859},{56,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>game1_icon_cake_tray.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1087},{68,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>game1_icon_cook_dg.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,840},{43,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,82}}</string>
                <key>sourceSize</key>
                <string>{43,82}</string>
            </dict>
            <key>game1_icon_cook_dishes.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,924},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>game1_icon_cook_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1917},{98,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,49}}</string>
                <key>sourceSize</key>
                <string>{98,49}</string>
            </dict>
            <key>game1_icon_cookbook.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1917},{94,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,89}}</string>
                <key>sourceSize</key>
                <string>{94,89}</string>
            </dict>
            <key>game1_icon_food_beff01.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1883},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>game1_icon_food_broccoli01.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1429},{95,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,64}}</string>
                <key>sourceSize</key>
                <string>{95,64}</string>
            </dict>
            <key>game1_icon_food_chicken01.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1242},{89,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,71}}</string>
                <key>sourceSize</key>
                <string>{89,71}</string>
            </dict>
            <key>game1_icon_food_chili01.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1708},{87,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,64}}</string>
                <key>sourceSize</key>
                <string>{87,64}</string>
            </dict>
            <key>game1_icon_food_dumplings01.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1978},{83,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,64}}</string>
                <key>sourceSize</key>
                <string>{83,64}</string>
            </dict>
            <key>game1_icon_food_egg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1797},{92,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,60}}</string>
                <key>sourceSize</key>
                <string>{92,60}</string>
            </dict>
            <key>game1_icon_food_fish01.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1333},{94,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,65}}</string>
                <key>sourceSize</key>
                <string>{94,65}</string>
            </dict>
            <key>game1_icon_food_mushrooms01.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,996},{89,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,66}}</string>
                <key>sourceSize</key>
                <string>{89,66}</string>
            </dict>
            <key>game1_icon_food_noodles01.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1819},{87,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,62}}</string>
                <key>sourceSize</key>
                <string>{87,62}</string>
            </dict>
            <key>game1_icon_food_pork01.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1755},{94,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,62}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>game1_icon_food_shallot01.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1619},{87,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,64}}</string>
                <key>sourceSize</key>
                <string>{87,64}</string>
            </dict>
            <key>game1_icon_food_shrimp01.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1526},{91,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,64}}</string>
                <key>sourceSize</key>
                <string>{91,64}</string>
            </dict>
            <key>game1_icon_noodles_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1820},{119,95}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{119,95}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1713},{119,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{119,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1220},{129,97}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{129,97}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1079},{131,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{131,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1762},{119,95}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{119,95}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1655},{119,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{119,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1229},{127,103}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{127,103}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1339},{125,105}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{125,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1499},{123,105}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{123,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1023},{133,105}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1658},{119,95}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{119,95}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1130},{129,97}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{129,97}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1606},{121,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{121,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1212},{125,105}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{125,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1441},{123,105}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{123,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1392},{123,105}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{123,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,899},{135,105}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{135,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,668},{137,105}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{137,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1551},{119,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{119,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1020.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,944},{133,105}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1021.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1446},{123,103}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{123,103}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1022.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1334},{123,105}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{123,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1023.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1006},{133,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{133,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,386},{141,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{141,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1025.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1548},{121,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{121,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1026.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,529},{137,105}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{137,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1027.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1113},{131,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{131,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1028.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,241},{143,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{143,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1029.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,94},{145,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_noodles_1030.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,807},{135,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{135,105}}</string>
                <key>sourceSize</key>
                <string>{145,105}</string>
            </dict>
            <key>game1_icon_order_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1947},{77,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,82}}</string>
                <key>sourceSize</key>
                <string>{77,82}</string>
            </dict>
            <key>game1_icon_order_heart_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1593},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>game1_icon_order_heart_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1572},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>game1_icon_order_heart_half.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1551},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>game1_icon_order_heart_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,899},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>game1_icon_orderbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,899},{133,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,122}}</string>
                <key>sourceSize</key>
                <string>{133,122}</string>
            </dict>
            <key>game1_icon_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{90,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,107}}</string>
                <key>sourceSize</key>
                <string>{90,107}</string>
            </dict>
            <key>game1_icon_plate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{394,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,230}}</string>
                <key>sourceSize</key>
                <string>{394,230}</string>
            </dict>
            <key>game1_icon_seat.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1319},{127,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,71}}</string>
                <key>sourceSize</key>
                <string>{127,71}</string>
            </dict>
            <key>game1_icon_track-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1925},{62,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,46}}</string>
                <key>sourceSize</key>
                <string>{62,46}</string>
            </dict>
            <key>game1_icon_track.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1859},{64,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>game1_icon_track_edge01.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2017},{62,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,22}}</string>
                <key>sourceSize</key>
                <string>{62,22}</string>
            </dict>
            <key>game1_icon_track_edge02.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,776},{62,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{62,38}</string>
            </dict>
            <key>game1_icon_yangchunmian.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1917},{118,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{118,95}}</string>
                <key>sourceSize</key>
                <string>{118,97}</string>
            </dict>
            <key>game_ui_menu_Level.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2013},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>game_ui_menu_angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1947},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>game_ui_menu_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1912},{64,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{64,34}}</string>
                <key>sourceSize</key>
                <string>{82,48}</string>
            </dict>
            <key>game_ui_menu_menubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1755},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>game_ui_menu_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,741},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>game_ui_menu_show.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,712},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>game_ui_menu_showbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1859},{53,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,43}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>game_ui_menu_smile.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1883},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>game_ui_menu_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1859},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>game_ui_menubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{1334,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,51}}</string>
                <key>sourceSize</key>
                <string>{1334,51}</string>
            </dict>
            <key>game_ui_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,837},{60,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,292}}</string>
                <key>sourceSize</key>
                <string>{60,292}</string>
            </dict>
            <key>white_eat_food1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{237,398}}</string>
                <key>offset</key>
                <string>{6,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,69},{237,398}}</string>
                <key>sourceSize</key>
                <string>{423,600}</string>
            </dict>
            <key>white_eat_food2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,398}}</string>
                <key>offset</key>
                <string>{6,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,69},{237,398}}</string>
                <key>sourceSize</key>
                <string>{423,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameScene.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42ff8781ebd2ee87552a16701e4d40d5$</string>
            <key>textureFileName</key>
            <string>GameScene.png</string>
        </dict>
    </dict>
</plist>
